# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# Reference : http://editorconfig.org/#file-location
root = true

[*]
# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# PHP http://make.wordpress.org/core/handbook/coding-standards/php/
# HTML http://make.wordpress.org/core/handbook/coding-standards/html/
# CSS http://make.wordpress.org/core/handbook/coding-standards/css/
# JavaScript http://make.wordpress.org/core/handbook/coding-standards/javascript/
[*.php, *.css,*.scss, *.html, *.js]
indent_style = tab
indent_size = 4

# package.json uses spaces instead of tabs
[*.json]
indent_style = space
indent_size = 2
