
#startImporting, .rt-lib-spinner {
	display: none;
	vertical-align: -webkit-baseline-middle;
}

.nav-tab-wrapper {
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
}

.nav-tab-wrapper .nav-tab {
	font-size: 16px;
}

.sub-nav-tab-wrapper {
	height: 40px;
}

#map_mapping_import {
	margin: 10px 0;
}

#sucessmessage {
	margin-left: 15px;
}

table.rt-importer select {
	max-width: 100%;
}

input#futureYes, input#futureNo {
	vertical-align: middle;
}

.rt-lib-sync {
	color: #81C341;
}

.myerror {
	background-color: #ffebe8;
	border-color: #c00;
}

.importloading {
	background-image: url('../img/loading-new.gif');;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: 50px;
}

.sucessmessage {
	display: none;
	margin: 20px 0;
}

table.wp-list-table.widefat.fixed.posts td, table.wp-list-table.widefat.fixed.posts th, table.wp-list-table.widefat.rtlib-gravity-mapping th, table.wp-list-table.widefat.rtlib-gravity-mapping td, table.wp-list-table.widefat.fixed td, table.wp-list-table.widefat.fixed th {
	padding: 10px;
}

.gravity_importer_tab table td {
	padding: 0 10px 0 0;
}

#progressbar {
	margin: 15px 0;
}

div#map_message div {
	margin: 5px;
}

h4.rt-import-success-message {
	color: #81C341;
}

h4.rt-import-warning-message {
	color: #fcefa1;
}
