
#startImporting {
	display: none
}

.nav-tab-wrapper{
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
}

.nav-tab-wrapper .nav-tab{
	font-size: 16px;
}

.sub-nav-tab-wrapper{
	height: 40px;
}

#map_mapping_import{
	margin-top: 10px;
}

#sucessmessage{
	margin-left: 15px;
}

.myerror {
	background-color: #ffebe8;
	border-color: #c00;
}

.importloading {
	background-image: url('../img/loading-new.gif');;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: 50px;
}

.sucessmessage {
	text-align: center;
	display: none;
	margin: 25px 15px 10px;
}

#rtlibMappingForm{
	margin: 5px 15px 5px;
}

#progressbar{
	margin: 5px 15px 10px;
}

#rtlibMappingForm tfoot {
	background-color: #f1f1f1;
}
