name: Deploy
on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: WordPress Plugin Deploy
      uses: rtCamp/action-wordpress-org-plugin-deploy@master
      env:
        ASSETS_DIR: assets
        EXCLUDE_LIST: .bowerrc .gitattributes .gitignore .jshintrc .travis.yml
          README.md bin deploy.sh package-lock.json package.json phpcs.xml phpunit.xml
          tests svn-url .jshintrc assets
        SLUG: rtbiz
        WORDPRESS_PASSWORD: ${{ secrets.WORDPRESS_PASSWORD }}
        WORDPRESS_USERNAME: ${{ secrets.WORDPRESS_USERNAME }}
